[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphql-core = "*"
requests = "*"
typing-inspect = "*"
aiohttp = "*"

[dev-packages]
# Testing
pytest = "*"
pytest-cov = "*"
coverage = "*"
faker = "*"
# Linting
flake8 = "*"
# Documentation
sphinx = "*"
sphinxcontrib-fulltoc = "*"
guzzle_sphinx_theme = "*"
